  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/images/image1.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/images/image2.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/images/image3.png" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
