<footer>
  <div class="socialIcons">
    <div class="iconWrapper">
      <a href="#" class="socialMediaLink">
        <i class='bx bxl-facebook'></i>
      </a>
      <a href="#" class="socialMediaLink">
        <i class='bx bxl-instagram'></i>
      </a>
      <a href="#" class="socialMediaLink">
        <i class='bx bxl-youtube'></i>
      </a>
    </div>
  </div>
  <div class="details">
    <div class="footerLinks">
      <a href="#">about us</a>
      <a href="#">size guide</a>
      <a href="#">faqs</a>
      <a href="#">return & exchange policy</a>
      <a href="#">privacy policy</a>
      <a href="#">shipping policy</a>
      <a href="#">careers</a>
      <a href="#">contact us</a>
    </div>
    <div class="connect">
      <h4 class="connectText">Connect</h4>
      <p class="subText">Join our mailing list for updates</p>
      <form class="connectForm">
        <input class="connectEmailAddress" type="email" placeholder="Email Address" />
        <button type="submit" class="connectButton">Join</button>
      </form>
    </div>
  </div>
</footer>
<div class="copyrightContainer">
  <p class="copyrights">&copy;2023 <a href="/">MoireByAsma</a> &#x2022; <a href="https://www.linkedin.com/in/muhammad-u-4975b5113/" target="_blank">Develop by Uzair Arslan</a> </p>



</div>
